# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/

# Build nativo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Sistema
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
